.pr{
    padding-right: 20px;
}

.p50{
    padding: 50px;
}
.lableCss{
font-size: medium;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;
padding-top: 10px;
}
.inputBox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btnCss{
    align-self: flex-end;
    margin: 10px 10px 0px 0px ;
}

.backCss{
    float: right;
}
